body {
  font-family: "Manrope", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 70px;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo img {
  vertical-align: bottom;
}

.menu {
  margin-left: 560px;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 60px;
}

.menu-item a {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #121212;
  cursor: pointer;
}

.menu-item a:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
  opacity: 0.5;
}

.main-content {
  padding-bottom: 150px;
}

.main-info {
  max-width: 956px;
}

.main-title {
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #121212;
  margin-bottom: 30px;
}

.main-image {
  padding-top: 379px;
  padding-left: 40px;
  width: 1170px;
  height: 500px;
  background-image: url(../img/main-image.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.main-image-text {
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #fff;
}
